/* Navbar style */
.nav-link{
width: 100px;
}
.bg-light{
    background-color: #F0FFF0 !important;
}
.nav-link:last-child{
    background-color: #21B573;
    padding: 7px 10px;
    text-align: center;
    color: white !important;
    border-radius: 33px;
}
.navbar-light .navbar-nav .nav-link {
     color:black; 
}
/* End Navbar style */
/* Header section css */
header{
    background-color: #F0FFF0;
}
.btn-get-started{
    background-color: #21B573;
    color:white;
    border: none;
    width: 153px;
    height: 43px;
    border-radius: 33px;
    padding: 12px 36px;
}
header h6{
    font-family: Poppins;
    color:#FD511A;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}
header h1{
    position: absoulate;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    color: black;
}
header p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
.header-div span{
    color: #21B573;
}
.header-div img{
    width: 85%;
}
.temp-div{
    height: 60px;
}
/* end header section css */
/* Book Section css start */
.books-section h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
}
.normal-div-books{
    padding: 40px 40px;
    background-color: #F8FFFB;
}
.selected-div-books{
    padding: 40px 40px;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* Books Section css end */
/* Course section css */
.course-h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #413960;
}
.buy-course-button{
    width: 137px;
    height: 40px;
    padding: 8px 28px;
    background: #21B573;
    border-radius: 33px;
    border: none;
    color: white;
}
.card p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #585859;
}
.card-timer{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color:#585859;
}
.card{
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
